<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>

</body>
<script src="/javascript/form.js"></script>
<script src="/javascript/utils.js"></script>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    
    <div class="brand">
        <a href="https://www.jamiecoulter.co.uk" target="_blank">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png"/>
        </a>
      </div>
      <div class="login">
        <div class="login_title">
          <span>SignUp To Your Account</span>
        </div>
        <div class="login_fields">
          <div class="login_fields__user">
            <div class="icon">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png"/>
            </div>
            <input  id="email" placeholder="Email" type="text">
              <div class="validation">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"/>
              </div>
            </input>
          </div>
          <div class="login_fields__password">
            <div class="icon">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png"/>
            </div>
            <input  id="password" placeholder="Password" type="password"></input>
            <div class="validation">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"/>
            </div>
          </div>
          <div class="signup_fields__password">
            <div class="icon">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png"/>
            </div>
            <input  id="age" placeholder="Age" type="number"></input>
          </div>
          <div class="login_fields__user">
            <div class="icon">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png"/>
            </div>
            <input  id="yourname" placeholder="Your Name" type="text">
              <div class="validation">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"/>
              </div>
            </input>
          </div>
          <!-- <div class="col_half">
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <input type="text" name="name" placeholder="Username" />
            </div>
          </div> -->
          <div class="input_field radio_option">
            <input type="radio" name="radiogroup1" id="rd1">
            <label for="rd1">Male</label>
            <input type="radio" name="radiogroup1" id="rd2">
            <label for="rd2">Female</label>
          </div>
          <div class="login_fields__submit">
            <input onclick="signup()" type="submit" value="SignUp"></input>
            <div class="forgot">
              <a href="/login">Log In</a>
            </div>
          </div>
        </div>
        <div class="success">
          <h2>Authentication Success</h2>
          <p>Welcome back</p>
        </div>
        <div class="disclaimer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper laoreet placerat. Nullam semper auctor justo, rutrum posuere odio vulputate nec.</p>
        </div>
      </div>
</body>
<script src="/javascript/signup.js"></script>
</html>