<div class="mynavbar">
	<div class="mynavbar-left">
		<h1 style="margin-top: 30px">MyNavbar</h1>
	</div>
	<div class="mynavbar-right">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Tentang</a></li>
			<li><a href="#" id="loginCredentials">LogIn / SignUp</a></li>
		</ul>
	</div>
</div>